@mixin kendo-icon-list {
    .k-i-banknote::before { content: "\e000"; } 
    .k-i-globe::before { content: "\e001"; } 
    .k-i-accessibility::before { content: "\e002"; } 
    .k-i-aggregate-fields::before { content: "\e003"; } 
    .k-i-align-bottom::before { content: "\e004"; } 
    .k-i-align-center::before { content: "\e005"; } 
    .k-i-align-items-center-alt::before { content: "\e006"; } 
    .k-i-align-items-center::before { content: "\e007"; } 
    .k-i-align-items-end-alt::before { content: "\e008"; } 
    .k-i-align-items-end::before { content: "\e009"; } 
    .k-i-align-items-start-alt::before { content: "\e00a"; } 
    .k-i-align-items-start::before { content: "\e00b"; } 
    .k-i-align-justify::before { content: "\e00c"; } 
    .k-i-align-left::before { content: "\e00d"; } 
    .k-i-align-middle::before { content: "\e00e"; } 
    .k-i-align-right::before { content: "\e00f"; } 
    .k-i-align-top::before { content: "\e010"; } 
    .k-i-all::before { content: "\e011"; } 
    .k-i-anchor::before { content: "\e012"; } 
    .k-i-apply-format::before { content: "\e013"; } 
    .k-i-area::before { content: "\e014"; } 
    .k-i-arrow-down-left::before { content: "\e015"; } 
    .k-i-arrow-down::before { content: "\e016"; } 
    .k-i-arrow-left::before { content: "\e017"; } 
    .k-i-arrow-overflow-down::before { content: "\e018"; } 
    .k-i-arrow-right::before { content: "\e019"; } 
    .k-i-arrow-rotate-ccw::before { content: "\e01a"; } 
    .k-i-arrow-rotate-cw::before { content: "\e01b"; } 
    .k-i-arrow-shape::before { content: "\e01c"; } 
    .k-i-arrow-up::before { content: "\e01d"; } 
    .k-i-arrows-axes::before { content: "\e01e"; } 
    .k-i-arrows-left-right::before { content: "\e01f"; } 
    .k-i-arrows-move::before { content: "\e020"; } 
    .k-i-drag-and-drop::before { content: "\e021"; } 
    .k-i-arrows-no-change::before { content: "\e022"; } 
    .k-i-arrows-no-repeat::before { content: "\e023"; } 
    .k-i-grid-layout::before { content: "\e024"; } 
    .k-i-arrows-swap::before { content: "\e025"; } 
    .k-i-arrows-top-bottom::before { content: "\e026"; } 
    .k-i-handle-drag::before { content: "\e027"; } 
    .k-i-layout::before { content: "\e028"; } 
    .k-i-layout-1-by-4::before { content: "\e029"; } 
    .k-i-layout-2-by-2::before { content: "\e02a"; } 
    .k-i-layout-side-by-side::before { content: "\e02b"; } 
    .k-i-layout-stacked::before { content: "\e02c"; } 
    .k-i-barcode-scanner::before { content: "\e02d"; } 
    .k-i-barcode::before { content: "\e02e"; } 
    .k-i-behance::before { content: "\e02f"; } 
    .k-i-bell::before { content: "\e030"; } 
    .k-i-bicycle::before { content: "\e031"; } 
    .k-i-binoculars::before { content: "\e032"; } 
    .k-i-overlap::before { content: "\e033"; } 
    .k-i-blur::before { content: "\e034"; } 
    .k-i-bold::before { content: "\e035"; } 
    .k-i-book::before { content: "\e036"; } 
    .k-i-border-radius-bottom-left::before { content: "\e037"; } 
    .k-i-border-radius-bottom-right::before { content: "\e038"; } 
    .k-i-border-radius-top-left::before { content: "\e039"; } 
    .k-i-border-radius-top-right::before { content: "\e03a"; } 
    .k-i-border-radius::before { content: "\e03b"; } 
    .k-i-border-style-bottom::before { content: "\e03c"; } 
    .k-i-border-style-left::before { content: "\e03d"; } 
    .k-i-border-style-right::before { content: "\e03e"; } 
    .k-i-border-style-top::before { content: "\e03f"; } 
    .k-i-border-style::before { content: "\e040"; } 
    .k-i-border-color::before { content: "\e041"; } 
    .k-i-box-sizing::before { content: "\e042"; } 
    .k-i-brightness-contrast::before { content: "\e043"; } 
    .k-i-brush::before { content: "\e044"; } 
    .k-i-building-blocks::before { content: "\e045"; } 
    .k-i-bus::before { content: "\e046"; } 
    .k-i-non-recurrence::before { content: "\e047"; } 
    .k-i-display-block::before { content: "\e048"; } 
    .k-i-display-flex::before { content: "\e049"; } 
    .k-i-display-inline-flex::before { content: "\e04a"; } 
    .k-i-button::before { content: "\e04b"; } 
    .k-i-file-report::before { content: "\e04c"; } 
    .k-i-calculator::before { content: "\e04d"; } 
    .k-i-calendar-date::before { content: "\e04e"; } 
    .k-i-calendar::before { content: "\e04f"; } 
    .k-i-camera::before { content: "\e050"; } 
    .k-i-cancel::before { content: "\e051"; } 
    .k-i-letter-space::before { content: "\e052"; } 
    .k-i-line-height::before { content: "\e053"; } 
    .k-i-list-latin-big::before { content: "\e054"; } 
    .k-i-list-latin-small::before { content: "\e055"; } 
    .k-i-car::before { content: "\e056"; } 
    .k-i-caret-alt-down::before { content: "\e057"; } 
    .k-i-caret-alt-expand::before { content: "\e058"; } 
    .k-i-caret-alt-left::before { content: "\e059"; } 
    .k-i-caret-alt-right::before { content: "\e05a"; } 
    .k-i-caret-alt-to-bottom::before { content: "\e05b"; } 
    .k-i-caret-alt-to-left::before { content: "\e05c"; } 
    .k-i-caret-alt-to-right::before { content: "\e05d"; } 
    .k-i-outline-offset::before { content: "\e05e"; } 
    .k-i-outline-width::before { content: "\e05f"; } 
    .k-i-padding-bottom::before { content: "\e060"; } 
    .k-i-padding-left::before { content: "\e061"; } 
    .k-i-padding-right::before { content: "\e062"; } 
    .k-i-padding-top::before { content: "\e063"; } 
    .k-i-padding::before { content: "\e064"; } 
    .k-i-position-bottom::before { content: "\e065"; } 
    .k-i-position-left::before { content: "\e066"; } 
    .k-i-position-right::before { content: "\e067"; } 
    .k-i-position-top::before { content: "\e068"; } 
    .k-i-caret-alt-to-top::before { content: "\e069"; } 
    .k-i-caret-alt-up::before { content: "\e06a"; } 
    .k-i-caret-bl::before { content: "\e06b"; } 
    .k-i-caret-br::before { content: "\e06c"; } 
    .k-i-caret-double-alt-down::before { content: "\e06d"; } 
    .k-i-caret-double-alt-left::before { content: "\e06e"; } 
    .k-i-data-sds::before { content: "\e06f"; } 
    .k-i-caret-double-alt-right::before { content: "\e070"; } 
    .k-i-caret-double-alt-up::before { content: "\e071"; } 
    .k-i-caret-tl::before { content: "\e072"; } 
    .k-i-caret-tr::before { content: "\e073"; } 
    .k-i-cart::before { content: "\e074"; } 
    .k-i-categorize::before { content: "\e075"; } 
    .k-i-chart-doughnut::before { content: "\e076"; } 
    .k-i-chart-pie::before { content: "\e077"; } 
    .k-i-chart-radar::before { content: "\e078"; } 
    .k-i-chart-scatter::before { content: "\e079"; } 
    .k-i-check-circle::before { content: "\e07a"; } 
    .k-i-check::before { content: "\e07b"; } 
    .k-i-font-grow::before { content: "\e07c"; } 
    .k-i-font-shrink::before { content: "\e07d"; } 
    .k-i-text-overflow::before { content: "\e07e"; } 
    .k-i-checkbox-checked::before { content: "\e07f"; } 
    .k-i-checkbox-indeterminate::before { content: "\e080"; } 
    .k-i-text-clip::before { content: "\e081"; } 
    .k-i-checkbox::before { content: "\e082"; } 
    .k-i-border-type::before { content: "\e083"; } 
    .k-i-chevron-double-down::before { content: "\e084"; } 
    .k-i-chevron-double-left::before { content: "\e085"; } 
    .k-i-chevron-double-right::before { content: "\e086"; } 
    .k-i-chevron-double-up::before { content: "\e087"; } 
    .k-i-chevron-down::before { content: "\e088"; } 
    .k-i-chevron-left::before { content: "\e089"; } 
    .k-i-chevron-right::before { content: "\e08a"; } 
    .k-i-chevron-up::before { content: "\e08b"; } 
    .k-i-circle-shape::before { content: "\e08c"; } 
    .k-i-circle::before { content: "\e08d"; } 
    .k-i-clear-css::before { content: "\e08e"; } 
    .k-i-clipboard-code::before { content: "\e08f"; } 
    .k-i-clipboard-html::before { content: "\e090"; } 
    .k-i-clipboard-markdown::before { content: "\e091"; } 
    .k-i-clipboard-text::before { content: "\e092"; } 
    .k-i-clipboard-word-alt::before { content: "\e093"; } 
    .k-i-free-text::before { content: "\e094"; } 
    .k-i-clipboard-word::before { content: "\e095"; } 
    .k-i-clipboard::before { content: "\e096"; } 
    .k-i-clock-arrow-rotate::before { content: "\e097"; } 
    .k-i-clock::before { content: "\e098"; } 
    .k-i-closed-captions::before { content: "\e099"; } 
    .k-i-cloud::before { content: "\e09a"; } 
    .k-i-code-snippet::before { content: "\e09b"; } 
    .k-i-code::before { content: "\e09c"; } 
    .k-i-col-resize::before { content: "\e09d"; } 
    .k-i-columns::before { content: "\e09e"; } 
    .k-i-comment-remove::before { content: "\e09f"; } 
    .k-i-comment::before { content: "\e0a0"; } 
    .k-i-comments-remove::before { content: "\e0a1"; } 
    .k-i-concrete-truck::before { content: "\e0a2"; } 
    .k-i-connector::before { content: "\e0a3"; } 
    .k-i-convert-lowercase::before { content: "\e0a4"; } 
    .k-i-convert-uppercase::before { content: "\e0a5"; } 
    .k-i-copy-format::before { content: "\e0a6"; } 
    .k-i-copy::before { content: "\e0a7"; } 
    .k-i-crop::before { content: "\e0a8"; } 
    .k-i-cs::before { content: "\e0a9"; } 
    .k-i-csproj::before { content: "\e0aa"; } 
    .k-i-css::before { content: "\e0ab"; } 
    .k-i-cube::before { content: "\e0ac"; } 
    .k-i-custom-format::before { content: "\e0ad"; } 
    .k-i-custom-icon::before { content: "\e0ae"; } 
    .k-i-cut::before { content: "\e0af"; } 
    .k-i-data-ods::before { content: "\e0b0"; } 
    .k-i-data::before { content: "\e0b1"; } 
    .k-i-decision::before { content: "\e0b2"; } 
    .k-i-decrease-horizontal-spacing::before { content: "\e0b3"; } 
    .k-i-decrease-vertical-spacing::before { content: "\e0b4"; } 
    .k-i-delicious::before { content: "\e0b5"; } 
    .k-i-detail-section::before { content: "\e0b6"; } 
    .k-i-digg::before { content: "\e0b7"; } 
    .k-i-dimensions::before { content: "\e0b8"; } 
    .k-i-directions::before { content: "\e0b9"; } 
    .k-i-display-inline-block::before { content: "\e0ba"; } 
    .k-i-distance::before { content: "\e0bb"; } 
    .k-i-div::before { content: "\e0bc"; } 
    .k-i-divide::before { content: "\e0bd"; } 
    .k-i-document-manager::before { content: "\e0be"; } 
    .k-i-dollar::before { content: "\e0bf"; } 
    .k-i-download::before { content: "\e0c0"; } 
    .k-i-draw-free::before { content: "\e0c1"; } 
    .k-i-dribbble::before { content: "\e0c2"; } 
    .k-i-droplet-slash::before { content: "\e0c3"; } 
    .k-i-droplet-slider::before { content: "\e0c4"; } 
    .k-i-droplet::before { content: "\e0c5"; } 
    .k-i-edit-annotations::before { content: "\e0c6"; } 
    .k-i-edit-tools::before { content: "\e0c7"; } 
    .k-i-envelope-link::before { content: "\e0c8"; } 
    .k-i-envelope::before { content: "\e0c9"; } 
    .k-i-equal::before { content: "\e0ca"; } 
    .k-i-exclamation-circle::before { content: "\e0cb"; } 
    .k-i-border-radius-undefined::before { content: "\e0cc"; } 
    .k-i-border-width::before { content: "\e0cd"; } 
    .k-i-exe::before { content: "\e0ce"; } 
    .k-i-combobox::before { content: "\e0cf"; } 
    .k-i-export::before { content: "\e0d0"; } 
    .k-i-eye-slash::before { content: "\e0d1"; } 
    .k-i-eye::before { content: "\e0d2"; } 
    .k-i-dropdown::before { content: "\e0d3"; } 
    .k-i-eyedropper::before { content: "\e0d4"; } 
    .k-i-facebook::before { content: "\e0d5"; } 
    .k-i-insert-free-text::before { content: "\e0d6"; } 
    .k-i-file-add::before { content: "\e0d7"; } 
    .k-i-file-ascx::before { content: "\e0d8"; } 
    .k-i-file-audio::before { content: "\e0d9"; } 
    .k-i-file-bac::before { content: "\e0da"; } 
    .k-i-file-csv::before { content: "\e0db"; } 
    .k-i-file-data::before { content: "\e0dc"; } 
    .k-i-file-error::before { content: "\e0dd"; } 
    .k-i-file-excel::before { content: "\e0de"; } 
    .k-i-file-image::before { content: "\e0df"; } 
    .k-i-file-pdf::before { content: "\e0e0"; } 
    .k-i-file-ppt::before { content: "\e0e1"; } 
    .k-i-file-programming::before { content: "\e0e2"; } 
    .k-i-file-txt::before { content: "\e0e3"; } 
    .k-i-file-typescript::before { content: "\e0e4"; } 
    .k-i-file-video::before { content: "\e0e5"; } 
    .k-i-file-word::before { content: "\e0e6"; } 
    .k-i-file-zip::before { content: "\e0e7"; } 
    .k-i-file::before { content: "\e0e8"; } 
    .k-i-film::before { content: "\e0e9"; } 
    .k-i-filter-clear::before { content: "\e0ea"; } 
    .k-i-filter::before { content: "\e0eb"; } 
    .k-i-flip-horizontal::before { content: "\e0ec"; } 
    .k-i-flip-vertical::before { content: "\e0ed"; } 
    .k-i-folder-add::before { content: "\e0ee"; } 
    .k-i-folder-more::before { content: "\e0ef"; } 
    .k-i-folder-open::before { content: "\e0f0"; } 
    .k-i-folder::before { content: "\e0f1"; } 
    .k-i-font-family::before { content: "\e0f2"; } 
    .k-i-font-size::before { content: "\e0f3"; } 
    .k-i-form::before { content: "\e0f4"; } 
    .k-i-format-code-block::before { content: "\e0f5"; } 
    .k-i-formula-fx::before { content: "\e0f6"; } 
    .k-i-forward::before { content: "\e0f7"; } 
    .k-i-fullscreen-exit::before { content: "\e0f8"; } 
    .k-i-fullscreen::before { content: "\e0f9"; } 
    .k-i-gap-column::before { content: "\e0fa"; } 
    .k-i-gap-row::before { content: "\e0fb"; } 
    .k-i-gauge-linear::before { content: "\e0fc"; } 
    .k-i-gauge-radial::before { content: "\e0fd"; } 
    .k-i-gear::before { content: "\e0fe"; } 
    .k-i-gears::before { content: "\e0ff"; } 
    .k-i-globe-unlink::before { content: "\e100"; } 
    .k-i-google-plus::before { content: "\e101"; } 
    .k-i-google::before { content: "\e102"; } 
    .k-i-graph::before { content: "\e103"; } 
    .k-i-grayscale::before { content: "\e104"; } 
    .k-i-greater-or-equal::before { content: "\e105"; } 
    .k-i-grid::before { content: "\e106"; } 
    .k-i-group-box::before { content: "\e107"; } 
    .k-i-group-collection::before { content: "\e108"; } 
    .k-i-group::before { content: "\e109"; } 
    .k-i-h1::before { content: "\e10a"; } 
    .k-i-h2::before { content: "\e10b"; } 
    .k-i-h3::before { content: "\e10c"; } 
    .k-i-h4::before { content: "\e10d"; } 
    .k-i-h5::before { content: "\e10e"; } 
    .k-i-h6::before { content: "\e10f"; } 
    .k-i-hand::before { content: "\e110"; } 
    .k-i-handle-drag-dots::before { content: "\e111"; } 
    .k-i-handle-resize-alt::before { content: "\e112"; } 
    .k-i-handle-resize::before { content: "\e113"; } 
    .k-i-hd::before { content: "\e114"; } 
    .k-i-headset::before { content: "\e115"; } 
    .k-i-heart::before { content: "\e116"; } 
    .k-i-hexagon-shape::before { content: "\e117"; } 
    .k-i-highlight-free::before { content: "\e118"; } 
    .k-i-highlight::before { content: "\e119"; } 
    .k-i-home::before { content: "\e11a"; } 
    .k-i-hyperlink-open::before { content: "\e11b"; } 
    .k-i-image-resize::before { content: "\e11c"; } 
    .k-i-image::before { content: "\e11d"; } 
    .k-i-images::before { content: "\e11e"; } 
    .k-i-import::before { content: "\e11f"; } 
    .k-i-inbox::before { content: "\e120"; } 
    .k-i-increase-horizontal-spacing::before { content: "\e121"; } 
    .k-i-increase-vertical-spacing::before { content: "\e122"; } 
    .k-i-indent::before { content: "\e123"; } 
    .k-i-industrial-vehicle::before { content: "\e124"; } 
    .k-i-info-circle::before { content: "\e125"; } 
    .k-i-inherited::before { content: "\e126"; } 
    .k-i-inputbox::before { content: "\e127"; } 
    .k-i-insert-bottom::before { content: "\e128"; } 
    .k-i-insert-middle::before { content: "\e129"; } 
    .k-i-insert-top::before { content: "\e12a"; } 
    .k-i-instagram::before { content: "\e12b"; } 
    .k-i-invert-colors::before { content: "\e12c"; } 
    .k-i-italic::before { content: "\e12d"; } 
    .k-i-filter-add-expression::before { content: "\e12e"; } 
    .k-i-filter-add-group::before { content: "\e12f"; } 
    .k-i-js::before { content: "\e130"; } 
    .k-i-launch::before { content: "\e131"; } 
    .k-i-less-or-equal::before { content: "\e132"; } 
    .k-i-level-down::before { content: "\e133"; } 
    .k-i-level-to-top::before { content: "\e134"; } 
    .k-i-level-up::before { content: "\e135"; } 
    .k-i-line-shape::before { content: "\e136"; } 
    .k-i-link-vertical::before { content: "\e137"; } 
    .k-i-link::before { content: "\e138"; } 
    .k-i-linkedin::before { content: "\e139"; } 
    .k-i-list-ordered::before { content: "\e13a"; } 
    .k-i-list-unordered-square::before { content: "\e13b"; } 
    .k-i-list-unordered::before { content: "\e13c"; } 
    .k-i-locations::before { content: "\e13d"; } 
    .k-i-lock::before { content: "\e13e"; } 
    .k-i-login::before { content: "\e13f"; } 
    .k-i-logout::before { content: "\e140"; } 
    .k-i-make-horizontal-spacing-equal::before { content: "\e141"; } 
    .k-i-make-vertical-spacing-equal::before { content: "\e142"; } 
    .k-i-map-marker-target::before { content: "\e143"; } 
    .k-i-map-marker::before { content: "\e144"; } 
    .k-i-max-height::before { content: "\e145"; } 
    .k-i-max-width::before { content: "\e146"; } 
    .k-i-kpi-status-deny::before { content: "\e147"; } 
    .k-i-kpi-status-hold::before { content: "\e148"; } 
    .k-i-kpi-status-open::before { content: "\e149"; } 
    .k-i-media-manager::before { content: "\e14a"; } 
    .k-i-menu-filter::before { content: "\e14b"; } 
    .k-i-menu-sort-asc::before { content: "\e14c"; } 
    .k-i-menu-sort-desc::before { content: "\e14d"; } 
    .k-i-menu::before { content: "\e14e"; } 
    .k-i-min-height::before { content: "\e14f"; } 
    .k-i-min-width::before { content: "\e150"; } 
    .k-i-minus-circle::before { content: "\e151"; } 
    .k-i-minus::before { content: "\e152"; } 
    .k-i-mirror::before { content: "\e153"; } 
    .k-i-money-exchange::before { content: "\e154"; } 
    .k-i-more-horizontal::before { content: "\e155"; } 
    .k-i-more-vertical::before { content: "\e156"; } 
    .k-i-music-notes::before { content: "\e157"; } 
    .k-i-myspace::before { content: "\e158"; } 
    .k-i-not-equal::before { content: "\e159"; } 
    .k-i-optimization::before { content: "\e15a"; } 
    .k-i-outdent::before { content: "\e15b"; } 
    .k-i-page-footer-section::before { content: "\e15c"; } 
    .k-i-page-header-section::before { content: "\e15d"; } 
    .k-i-palette::before { content: "\e15e"; } 
    .k-i-paper-plane::before { content: "\e15f"; } 
    .k-i-paperclip::before { content: "\e160"; } 
    .k-i-paragraph-add::before { content: "\e161"; } 
    .k-i-paragraph-height::before { content: "\e162"; } 
    .k-i-paragraph-mark::before { content: "\e163"; } 
    .k-i-parameter-boolean::before { content: "\e164"; } 
    .k-i-parameter-date-time::before { content: "\e165"; } 
    .k-i-parameters::before { content: "\e166"; } 
    .k-i-password-box::before { content: "\e167"; } 
    .k-i-password::before { content: "\e168"; } 
    .k-i-paste-sparkle::before { content: "\e169"; } 
    .k-i-pause::before { content: "\e16a"; } 
    .k-i-pencil::before { content: "\e16b"; } 
    .k-i-percent::before { content: "\e16c"; } 
    .k-i-perimeter::before { content: "\e16d"; } 
    .k-i-photos::before { content: "\e16e"; } 
    .k-i-pin::before { content: "\e16f"; } 
    .k-i-pinterest::before { content: "\e170"; } 
    .k-i-plan::before { content: "\e171"; } 
    .k-i-play::before { content: "\e172"; } 
    .k-i-playlist::before { content: "\e173"; } 
    .k-i-plus-circle::before { content: "\e174"; } 
    .k-i-plus::before { content: "\e175"; } 
    .k-i-pointer::before { content: "\e176"; } 
    .k-i-print::before { content: "\e177"; } 
    .k-i-puzzle-piece::before { content: "\e178"; } 
    .k-i-qr-code-scanner::before { content: "\e179"; } 
    .k-i-qr-code::before { content: "\e17a"; } 
    .k-i-question-circle::before { content: "\e17b"; } 
    .k-i-radiobutton-checked::before { content: "\e17c"; } 
    .k-i-radiobutton::before { content: "\e17d"; } 
    .k-i-rectangle-shape::before { content: "\e17e"; } 
    .k-i-reddit::before { content: "\e17f"; } 
    .k-i-redo::before { content: "\e180"; } 
    .k-i-regular-expression::before { content: "\e181"; } 
    .k-i-remove-horizontal-spacing::before { content: "\e182"; } 
    .k-i-remove-vertical-spacing::before { content: "\e183"; } 
    .k-i-address-book-tabs::before { content: "\e184"; } 
    .k-i-address-book::before { content: "\e185"; } 
    .k-i-arrows-clockwise::before { content: "\e186"; } 
    .k-i-arrows-counter-clockwise::before { content: "\e187"; } 
    .k-i-arrows-out-line-horizontal::before { content: "\e188"; } 
    .k-i-arrows-out-line-vertical::before { content: "\e189"; } 
    .k-i-arrows-out-simple::before { content: "\e18a"; } 
    .k-i-arrows-rotate::before { content: "\e18b"; } 
    .k-i-arrows-split::before { content: "\e18c"; } 
    .k-i-award-number::before { content: "\e18d"; } 
    .k-i-award-trophy::before { content: "\e18e"; } 
    .k-i-bank::before { content: "\e18f"; } 
    .k-i-bathtub::before { content: "\e190"; } 
    .k-i-bed::before { content: "\e191"; } 
    .k-i-book-open-text::before { content: "\e192"; } 
    .k-i-book-open-user::before { content: "\e193"; } 
    .k-i-book-open::before { content: "\e194"; } 
    .k-i-books::before { content: "\e195"; } 
    .k-i-box-arrow-down::before { content: "\e196"; } 
    .k-i-brain::before { content: "\e197"; } 
    .k-i-bug::before { content: "\e198"; } 
    .k-i-buildings::before { content: "\e199"; } 
    .k-i-cell-tower::before { content: "\e19a"; } 
    .k-i-chart-line-down::before { content: "\e19b"; } 
    .k-i-circuitry::before { content: "\e19c"; } 
    .k-i-clean::before { content: "\e19d"; } 
    .k-i-cloud-arrow-up::before { content: "\e19e"; } 
    .k-i-cloud-lightning::before { content: "\e19f"; } 
    .k-i-computer-tower::before { content: "\e1a0"; } 
    .k-i-corners-out::before { content: "\e1a1"; } 
    .k-i-cpu::before { content: "\e1a2"; } 
    .k-i-crosshair-simple::before { content: "\e1a3"; } 
    .k-i-cube-focus::before { content: "\e1a4"; } 
    .k-i-cube-transparent::before { content: "\e1a5"; } 
    .k-i-dashboard::before { content: "\e1a6"; } 
    .k-i-desktop-tower::before { content: "\e1a7"; } 
    .k-i-desktop::before { content: "\e1a8"; } 
    .k-i-devices::before { content: "\e1a9"; } 
    .k-i-disc::before { content: "\e1aa"; } 
    .k-i-discount::before { content: "\e1ab"; } 
    .k-i-doctor::before { content: "\e1ac"; } 
    .k-i-education::before { content: "\e1ad"; } 
    .k-i-eraser::before { content: "\e1ae"; } 
    .k-i-faders-horizontal::before { content: "\e1af"; } 
    .k-i-faders::before { content: "\e1b0"; } 
    .k-i-file-arrow-up::before { content: "\e1b1"; } 
    .k-i-file-clock::before { content: "\e1b2"; } 
    .k-i-files::before { content: "\e1b3"; } 
    .k-i-filter-sort-asc::before { content: "\e1b4"; } 
    .k-i-filter-sort-desc::before { content: "\e1b5"; } 
    .k-i-flashlight::before { content: "\e1b6"; } 
    .k-i-food::before { content: "\e1b7"; } 
    .k-i-gear-fine::before { content: "\e1b8"; } 
    .k-i-git-diff::before { content: "\e1b9"; } 
    .k-i-git-fork::before { content: "\e1ba"; } 
    .k-i-git-merge::before { content: "\e1bb"; } 
    .k-i-hard-drive::before { content: "\e1bc"; } 
    .k-i-hard-drives::before { content: "\e1bd"; } 
    .k-i-head-circuit::before { content: "\e1be"; } 
    .k-i-lab-technician::before { content: "\e1bf"; } 
    .k-i-laptop::before { content: "\e1c0"; } 
    .k-i-lightbulb::before { content: "\e1c1"; } 
    .k-i-lightning::before { content: "\e1c2"; } 
    .k-i-line-vertical::before { content: "\e1c3"; } 
    .k-i-list-bullets::before { content: "\e1c4"; } 
    .k-i-list-numbers::before { content: "\e1c5"; } 
    .k-i-luggage::before { content: "\e1c6"; } 
    .k-i-map-pin-area::before { content: "\e1c7"; } 
    .k-i-map-pin-simple-line::before { content: "\e1c8"; } 
    .k-i-map-pin::before { content: "\e1c9"; } 
    .k-i-memory::before { content: "\e1ca"; } 
    .k-i-microphone::before { content: "\e1cb"; } 
    .k-i-mobile-ringing::before { content: "\e1cc"; } 
    .k-i-mobile::before { content: "\e1cd"; } 
    .k-i-monitor-arrow-up::before { content: "\e1ce"; } 
    .k-i-monitor-play::before { content: "\e1cf"; } 
    .k-i-monitor::before { content: "\e1d0"; } 
    .k-i-mouse-scroll::before { content: "\e1d1"; } 
    .k-i-non-stop::before { content: "\e1d2"; } 
    .k-i-nurse::before { content: "\e1d3"; } 
    .k-i-nut::before { content: "\e1d4"; } 
    .k-i-package::before { content: "\e1d5"; } 
    .k-i-path::before { content: "\e1d6"; } 
    .k-i-patient::before { content: "\e1d7"; } 
    .k-i-piggy-bank::before { content: "\e1d8"; } 
    .k-i-pills::before { content: "\e1d9"; } 
    .k-i-pin-bottom::before { content: "\e1da"; } 
    .k-i-pin-top::before { content: "\e1db"; } 
    .k-i-plane::before { content: "\e1dc"; } 
    .k-i-recycle::before { content: "\e1dd"; } 
    .k-i-repeat-once::before { content: "\e1de"; } 
    .k-i-repeat::before { content: "\e1df"; } 
    .k-i-robot::before { content: "\e1e0"; } 
    .k-i-rocket-launch::before { content: "\e1e1"; } 
    .k-i-rocket::before { content: "\e1e2"; } 
    .k-i-ruler-triangle::before { content: "\e1e3"; } 
    .k-i-ruler::before { content: "\e1e4"; } 
    .k-i-scroll::before { content: "\e1e5"; } 
    .k-i-security-check::before { content: "\e1e6"; } 
    .k-i-security-lock::before { content: "\e1e7"; } 
    .k-i-shopping-bag-open::before { content: "\e1e8"; } 
    .k-i-shopping-cart::before { content: "\e1e9"; } 
    .k-i-sliders-horizontal::before { content: "\e1ea"; } 
    .k-i-sms::before { content: "\e1eb"; } 
    .k-i-split-horizontal::before { content: "\e1ec"; } 
    .k-i-split-vertical::before { content: "\e1ed"; } 
    .k-i-square-split-horizontal::before { content: "\e1ee"; } 
    .k-i-square-split-vertical::before { content: "\e1ef"; } 
    .k-i-superscript::before { content: "\e1f0"; } 
    .k-i-tablet::before { content: "\e1f1"; } 
    .k-i-tag-chevron::before { content: "\e1f2"; } 
    .k-i-tag-simple::before { content: "\e1f3"; } 
    .k-i-target::before { content: "\e1f4"; } 
    .k-i-therapist::before { content: "\e1f5"; } 
    .k-i-tray-arrow-up::before { content: "\e1f6"; } 
    .k-i-tree-structure::before { content: "\e1f7"; } 
    .k-i-tree-view::before { content: "\e1f8"; } 
    .k-i-trend-up::before { content: "\e1f9"; } 
    .k-i-upgrade::before { content: "\e1fa"; } 
    .k-i-upload-simple::before { content: "\e1fb"; } 
    .k-i-users-four::before { content: "\e1fc"; } 
    .k-i-users-three::before { content: "\e1fd"; } 
    .k-i-users::before { content: "\e1fe"; } 
    .k-i-vault::before { content: "\e1ff"; } 
    .k-i-reorder::before { content: "\e200"; } 
    .k-i-replace-all::before { content: "\e201"; } 
    .k-i-replace-free-text::before { content: "\e202"; } 
    .k-i-replace-single::before { content: "\e203"; } 
    .k-i-report-element::before { content: "\e204"; } 
    .k-i-rewind::before { content: "\e205"; } 
    .k-i-right-double-quotes::before { content: "\e206"; } 
    .k-i-rotate-left::before { content: "\e207"; } 
    .k-i-rotate-right::before { content: "\e208"; } 
    .k-i-rotate::before { content: "\e209"; } 
    .k-i-row-collapse::before { content: "\e20a"; } 
    .k-i-row-expand::before { content: "\e20b"; } 
    .k-i-rows::before { content: "\e20c"; } 
    .k-i-rss::before { content: "\e20d"; } 
    .k-i-save::before { content: "\e20e"; } 
    .k-i-wallet::before { content: "\e20f"; } 
    .k-i-weight-scale::before { content: "\e210"; } 
    .k-i-scale::before { content: "\e211"; } 
    .k-i-search::before { content: "\e212"; } 
    .k-i-select-all::before { content: "\e213"; } 
    .k-i-select-box::before { content: "\e214"; } 
    .k-i-set-column-position::before { content: "\e215"; } 
    .k-i-shape-line::before { content: "\e216"; } 
    .k-i-shapes::before { content: "\e217"; } 
    .k-i-share::before { content: "\e218"; } 
    .k-i-sharpen::before { content: "\e219"; } 
    .k-i-signature::before { content: "\e21a"; } 
    .k-i-sliders::before { content: "\e21b"; } 
    .k-i-sln::before { content: "\e21c"; } 
    .k-i-snap-to-gridlines::before { content: "\e21d"; } 
    .k-i-sort-asc-small::before { content: "\e21e"; } 
    .k-i-sort-asc::before { content: "\e21f"; } 
    .k-i-sort-clear::before { content: "\e220"; } 
    .k-i-sort-desc-small::before { content: "\e221"; } 
    .k-i-sort-desc::before { content: "\e222"; } 
    .k-i-sparkles::before { content: "\e223"; } 
    .k-i-speed::before { content: "\e224"; } 
    .k-i-spell-checker::before { content: "\e225"; } 
    .k-i-stamp::before { content: "\e226"; } 
    .k-i-star::before { content: "\e227"; } 
    .k-i-stick::before { content: "\e228"; } 
    .k-i-sticky-note::before { content: "\e229"; } 
    .k-i-stop::before { content: "\e22a"; } 
    .k-i-strikethrough::before { content: "\e22b"; } 
    .k-i-strip-all-formatting::before { content: "\e22c"; } 
    .k-i-strip-css-format::before { content: "\e22d"; } 
    .k-i-strip-font-elements::before { content: "\e22e"; } 
    .k-i-strip-span-elements::before { content: "\e22f"; } 
    .k-i-strip-word-formatting::before { content: "\e230"; } 
    .k-i-subreport::before { content: "\e231"; } 
    .k-i-subscript::before { content: "\e232"; } 
    .k-i-sum::before { content: "\e233"; } 
    .k-i-sustainability::before { content: "\e234"; } 
    .k-i-sweeper-vehicle::before { content: "\e235"; } 
    .k-i-symbol::before { content: "\e236"; } 
    .k-i-table-align-middle-center::before { content: "\e237"; } 
    .k-i-table-delete::before { content: "\e238"; } 
    .k-i-table-unmerge::before { content: "\e239"; } 
    .k-i-tell-a-friend::before { content: "\e23a"; } 
    .k-i-template-manager::before { content: "\e23b"; } 
    .k-i-text-truncate::before { content: "\e23c"; } 
    .k-i-text-wrap-arrow::before { content: "\e23d"; } 
    .k-i-textarea::before { content: "\e23e"; } 
    .k-i-textbox-hidden::before { content: "\e23f"; } 
    .k-i-textbox::before { content: "\e240"; } 
    .k-i-thumb-down::before { content: "\e241"; } 
    .k-i-thumb-up::before { content: "\e242"; } 
    .k-i-toggle-full-screen-mode::before { content: "\e243"; } 
    .k-i-toolbar-float::before { content: "\e244"; } 
    .k-i-transactions::before { content: "\e245"; } 
    .k-i-transparency::before { content: "\e246"; } 
    .k-i-trash::before { content: "\e247"; } 
    .k-i-truck::before { content: "\e248"; } 
    .k-i-tumblr::before { content: "\e249"; } 
    .k-i-underline::before { content: "\e24a"; } 
    .k-i-undo::before { content: "\e24b"; } 
    .k-i-ungroup::before { content: "\e24c"; } 
    .k-i-unlink-vertical::before { content: "\e24d"; } 
    .k-i-unlink::before { content: "\e24e"; } 
    .k-i-unlock::before { content: "\e24f"; } 
    .k-i-unpin::before { content: "\e250"; } 
    .k-i-unstick::before { content: "\e251"; } 
    .k-i-upgrade-reload::before { content: "\e252"; } 
    .k-i-upload::before { content: "\e253"; } 
    .k-i-user::before { content: "\e254"; } 
    .k-i-validation-data::before { content: "\e255"; } 
    .k-i-validation-xhtml::before { content: "\e256"; } 
    .k-i-van::before { content: "\e257"; } 
    .k-i-vb::before { content: "\e258"; } 
    .k-i-vbproj::before { content: "\e259"; } 
    .k-i-video-external::before { content: "\e25a"; } 
    .k-i-vimeo::before { content: "\e25b"; } 
    .k-i-volume-down::before { content: "\e25c"; } 
    .k-i-volume-mute::before { content: "\e25d"; } 
    .k-i-volume-up::before { content: "\e25e"; } 
    .k-i-warning-circle::before { content: "\e25f"; } 
    .k-i-warning-triangle::before { content: "\e260"; } 
    .k-i-whatsapp::before { content: "\e261"; } 
    .k-i-whole-word::before { content: "\e262"; } 
    .k-i-window-minimize::before { content: "\e263"; } 
    .k-i-window-restore::before { content: "\e264"; } 
    .k-i-window::before { content: "\e265"; } 
    .k-i-wrench::before { content: "\e266"; } 
    .k-i-x-circle::before { content: "\e267"; } 
    .k-i-x-logo::before { content: "\e268"; } 
    .k-i-x::before { content: "\e269"; } 
    .k-i-yammer::before { content: "\e26a"; } 
    .k-i-youtube::before { content: "\e26b"; } 
    .k-i-zoom-actual-size::before { content: "\e26c"; } 
    .k-i-zoom-best-fit::before { content: "\e26d"; } 
    .k-i-zoom-in::before { content: "\e26e"; } 
    .k-i-zoom-out::before { content: "\e26f"; } 
    .k-i-zoom-sparkle::before { content: "\e270"; } 
    .k-i-checkbox-null::before { content: "\e307"; } 
    .k-i-image-export::before { content: "\e502"; } 
    .k-i-round-corners::before { content: "\e519"; } 
    .k-i-bring-to-front::before { content: "\e51a"; } 
    .k-i-bring-to-back::before { content: "\e51b"; } 
    .k-i-bring-forward::before { content: "\e51c"; } 
    .k-i-bring-backward::before { content: "\e51d"; } 
    .k-i-align-self-start::before { content: "\e51e"; } 
    .k-i-align-self-center::before { content: "\e51f"; } 
    .k-i-align-self-end::before { content: "\e520"; } 
    .k-i-align-self-start-alt::before { content: "\e521"; } 
    .k-i-align-self-center-alt::before { content: "\e522"; } 
    .k-i-align-self-end-alt::before { content: "\e523"; } 
    .k-i-thumbnails-up::before { content: "\e524"; } 
    .k-i-thumbnails-right::before { content: "\e525"; } 
    .k-i-thumbnails-down::before { content: "\e526"; } 
    .k-i-thumbnails-left::before { content: "\e527"; } 
    .k-i-align-to-grid::before { content: "\e52c"; } 
    .k-i-size-to-grid::before { content: "\e52d"; } 
    .k-i-make-same-size::before { content: "\e52e"; } 
    .k-i-make-same-width::before { content: "\e52f"; } 
    .k-i-make-same-height::before { content: "\e530"; } 
    .k-i-snap-grid::before { content: "\e53a"; } 
    .k-i-snap-to-snaplines::before { content: "\e53c"; } 
    .k-i-align-self-stretch::before { content: "\e53e"; } 
    .k-i-align-self-stretch-alt::before { content: "\e53f"; } 
    .k-i-align-items-stretch::before { content: "\e543"; } 
    .k-i-align-items-baseline::before { content: "\e544"; } 
    .k-i-align-items-stretch-alt::before { content: "\e548"; } 
    .k-i-align-items-baseline-alt::before { content: "\e549"; } 
    .k-i-justify-content-start::before { content: "\e54a"; } 
    .k-i-justify-content-center::before { content: "\e54b"; } 
    .k-i-justify-content-end::before { content: "\e54c"; } 
    .k-i-justify-content-between::before { content: "\e54d"; } 
    .k-i-justify-content-around::before { content: "\e54e"; } 
    .k-i-justify-content-start-alt::before { content: "\e54f"; } 
    .k-i-justify-content-center-alt::before { content: "\e550"; } 
    .k-i-justify-content-end-alt::before { content: "\e551"; } 
    .k-i-justify-content-between-alt::before { content: "\e552"; } 
    .k-i-justify-content-around-alt::before { content: "\e553"; } 
    .k-i-file-wrench::before { content: "\e600"; } 
    .k-i-foreground-color::before { content: "\e605"; } 
    .k-i-align-remove::before { content: "\e621"; } 
    .k-i-horizontal-rule::before { content: "\e623"; } 
    .k-i-table-align-top-left::before { content: "\e624"; } 
    .k-i-table-align-top-center::before { content: "\e625"; } 
    .k-i-table-align-top-right::before { content: "\e626"; } 
    .k-i-table-align-middle-left::before { content: "\e627"; } 
    .k-i-table-align-middle-right::before { content: "\e629"; } 
    .k-i-table-align-bottom-left::before { content: "\e62a"; } 
    .k-i-table-align-bottom-center::before { content: "\e62b"; } 
    .k-i-table-align-bottom-right::before { content: "\e62c"; } 
    .k-i-table-align-remove::before { content: "\e62d"; } 
    .k-i-borders-all::before { content: "\e62e"; } 
    .k-i-borders-outside::before { content: "\e62f"; } 
    .k-i-borders-inside::before { content: "\e630"; } 
    .k-i-borders-inside-horizontal::before { content: "\e631"; } 
    .k-i-borders-inside-vertical::before { content: "\e632"; } 
    .k-i-border-top::before { content: "\e633"; } 
    .k-i-border-bottom::before { content: "\e634"; } 
    .k-i-border-left::before { content: "\e635"; } 
    .k-i-border-right::before { content: "\e636"; } 
    .k-i-borders-none::before { content: "\e637"; } 
    .k-i-borders-show-hide::before { content: "\e638"; } 
    .k-i-form-element::before { content: "\e63a"; } 
    .k-i-change-manually::before { content: "\e648"; } 
    .k-i-track-changes::before { content: "\e649"; } 
    .k-i-track-changes-enable::before { content: "\e64a"; } 
    .k-i-track-changes-accept::before { content: "\e64b"; } 
    .k-i-track-changes-accept-all::before { content: "\e64c"; } 
    .k-i-track-changes-reject::before { content: "\e64d"; } 
    .k-i-track-changes-reject-all::before { content: "\e64e"; } 
    .k-i-image-add::before { content: "\e652"; } 
    .k-i-image-edit::before { content: "\e653"; } 
    .k-i-image-map-editor::before { content: "\e654"; } 
    .k-i-link-add::before { content: "\e671"; } 
    .k-i-globe-link::before { content: "\e672"; } 
    .k-i-table-add::before { content: "\e676"; } 
    .k-i-table::before { content: "\e677"; } 
    .k-i-table-properties::before { content: "\e678"; } 
    .k-i-table-cell::before { content: "\e679"; } 
    .k-i-table-cell-properties::before { content: "\e67a"; } 
    .k-i-table-column-insert-left::before { content: "\e67b"; } 
    .k-i-table-column-insert-right::before { content: "\e67c"; } 
    .k-i-table-row-insert-above::before { content: "\e67d"; } 
    .k-i-table-row-insert-below::before { content: "\e67e"; } 
    .k-i-table-column-delete::before { content: "\e67f"; } 
    .k-i-table-row-delete::before { content: "\e680"; } 
    .k-i-table-cell-delete::before { content: "\e681"; } 
    .k-i-cells-merge::before { content: "\e683"; } 
    .k-i-cells-merge-horizontally::before { content: "\e684"; } 
    .k-i-cells-merge-vertically::before { content: "\e685"; } 
    .k-i-cell-split-horizontally::before { content: "\e686"; } 
    .k-i-cell-split-vertically::before { content: "\e687"; } 
    .k-i-pane-freeze::before { content: "\e689"; } 
    .k-i-row-freeze::before { content: "\e68a"; } 
    .k-i-column-freeze::before { content: "\e68b"; } 
    .k-i-decimal-increase::before { content: "\e697"; } 
    .k-i-decimal-decrease::before { content: "\e698"; } 
    .k-i-image-absolute-position::before { content: "\e69a"; } 
    .k-i-table-wizard::before { content: "\e69b"; } 
    .k-i-crosstab::before { content: "\e69c"; } 
    .k-i-crosstab-wizard::before { content: "\e69d"; } 
    .k-i-table-body::before { content: "\e69e"; } 
    .k-i-table-column-groups::before { content: "\e69f"; } 
    .k-i-table-corner::before { content: "\e6a0"; } 
    .k-i-table-row-groups::before { content: "\e6a1"; } 
    .k-i-folder-up::before { content: "\e903"; } 
    .k-i-file-mdb::before { content: "\e90c"; } 
    .k-i-file-psd::before { content: "\e90f"; } 
    .k-i-file-config::before { content: "\e911"; } 
    .k-i-css3::before { content: "\e916"; } 
    .k-i-html5::before { content: "\e917"; } 
    .k-i-file-horizontal::before { content: "\e922"; } 
    .k-i-file-header::before { content: "\e925"; } 
    .k-i-file-footer::before { content: "\e926"; } 
    .k-i-group-header-section::before { content: "\e927"; } 
    .k-i-group-footer-section::before { content: "\e928"; } 
    .k-i-toc-section::before { content: "\e92c"; } 
    .k-i-group-section::before { content: "\e92d"; } 
    .k-i-data-csv::before { content: "\e92f"; } 
    .k-i-data-json::before { content: "\e930"; } 
    .k-i-data-sql::before { content: "\e931"; } 
    .k-i-data-web::before { content: "\e932"; } 
    .k-i-parameter-float::before { content: "\e936"; } 
    .k-i-parameter-integer::before { content: "\e937"; } 
    .k-i-parameter-string::before { content: "\e938"; } 
    .k-i-toc-section-level::before { content: "\e939"; } 
    .k-i-file-presentation::before { content: "\e93e"; } 
    .k-i-file-disc-image::before { content: "\e940"; } 
    .k-i-parameters-byte-array::before { content: "\e942"; } 
    .k-i-parameters-unknown::before { content: "\e943"; } 
    .k-i-files-error::before { content: "\e945"; } 
    .k-i-data-rest::before { content: "\e946"; } 
    .k-i-table-position-start::before { content: "\e948"; } 
    .k-i-table-position-center::before { content: "\e949"; } 
    .k-i-table-position-end::before { content: "\e94a"; } 
    .k-i-list-roman-upper::before { content: "\e94b"; } 
    .k-i-list-roman-lower::before { content: "\e94c"; } 
    .k-i-chart-column-clustered::before { content: "\ea01"; } 
    .k-i-chart-column-stacked::before { content: "\ea02"; } 
    .k-i-chart-column-stacked100::before { content: "\ea03"; } 
    .k-i-chart-column-range::before { content: "\ea04"; } 
    .k-i-chart-bar-clustered::before { content: "\ea05"; } 
    .k-i-chart-bar-stacked::before { content: "\ea06"; } 
    .k-i-chart-bar-stacked100::before { content: "\ea07"; } 
    .k-i-chart-bar-range::before { content: "\ea08"; } 
    .k-i-chart-area-clustered::before { content: "\ea09"; } 
    .k-i-chart-area-stacked::before { content: "\ea0a"; } 
    .k-i-chart-area-stacked100::before { content: "\ea0b"; } 
    .k-i-chart-area-range::before { content: "\ea0c"; } 
    .k-i-chart-line::before { content: "\ea0d"; } 
    .k-i-chart-line-stacked::before { content: "\ea0e"; } 
    .k-i-chart-line-stacked100::before { content: "\ea0f"; } 
    .k-i-chart-line-markers::before { content: "\ea10"; } 
    .k-i-chart-line-stacked-markers::before { content: "\ea11"; } 
    .k-i-chart-line-stacked100-markers::before { content: "\ea12"; } 
    .k-i-chart-scatter-smooth-lines-markers::before { content: "\ea16"; } 
    .k-i-chart-scatter-smooth-lines::before { content: "\ea17"; } 
    .k-i-chart-scatter-straight-lines-markers::before { content: "\ea18"; } 
    .k-i-chart-scatter-straight-lines::before { content: "\ea19"; } 
    .k-i-chart-bubble::before { content: "\ea1a"; } 
    .k-i-chart-candlestick::before { content: "\ea1b"; } 
    .k-i-chart-ohlc::before { content: "\ea1c"; } 
    .k-i-chart-radar-markers::before { content: "\ea1e"; } 
    .k-i-chart-rose::before { content: "\ea20"; } 
    .k-i-chart-choropleth::before { content: "\ea21"; } 
}
