@use "./_font.scss" as *;

$ki-icon-default-size: md !default;

$ki-font-family: "WebComponentsIcons" !default;
$ki-icon-size: 16px !default;

$ki-icon-size-xs: var(--kendo-icon-size-xs, calc( var(--kendo-icon-size, #{$ki-icon-size}) * .75 )) !default;
$ki-icon-size-sm: var(--kendo-icon-size-sm, calc( var(--kendo-icon-size, #{$ki-icon-size}) * .875 )) !default;
$ki-icon-size-md: var(--kendo-icon-size-md, var(--kendo-icon-size, #{$ki-icon-size})) !default;
$ki-icon-size-lg: var(--kendo-icon-size-lg, calc( var(--kendo-icon-size, #{$ki-icon-size}) * 1.25 )) !default;
$ki-icon-size-xl: var(--kendo-icon-size-xl, calc( var(--kendo-icon-size, #{$ki-icon-size}) * 1.5 )) !default;
$ki-icon-size-xxl: var(--kendo-icon-size-xxl, calc( var(--kendo-icon-size, #{$ki-icon-size}) * 2 )) !default;
$ki-icon-size-xxxl: var(--kendo-icon-size-xxxl, calc( var(--kendo-icon-size, #{$ki-icon-size}) * 3 )) !default;

$ki-embed-font: false !default;
$ki-font-file-url: "kendo-font-icons.ttf" !default;
$ki-font-url: if( $ki-embed-font == true, $ki-font-data-url, $ki-font-file-url ) !default;

$ki-css-prefix: "k-i-" !default;

$ki-icon-sizes: (
    xs: $ki-icon-size-xs,
    sm: $ki-icon-size-sm,
    md: $ki-icon-size-md,
    lg: $ki-icon-size-lg,
    xl: $ki-icon-size-xl,
    xxl: $ki-icon-size-xxl,
    xxxl: $ki-icon-size-xxxl
) !default;

$ki-rotate-map: (
    0: 0deg,
    45: 45deg,
    90: 90deg,
    135: 135deg,
    180: 180deg,
    225: 225deg,
    270: 270deg,
    315: 315deg
) !default;

