:root {
  --kendo-icon-size: 16px;
  --kendo-icon-size-xs: calc( var(--kendo-icon-size) * .75 );
  --kendo-icon-size-sm: calc( var(--kendo-icon-size) * .875 );
  --kendo-icon-size-md: var(--kendo-icon-size);
  --kendo-icon-size-lg: calc( var(--kendo-icon-size) * 1.25 );
  --kendo-icon-size-xl: calc( var(--kendo-icon-size) * 1.5 );
  --kendo-icon-size-xxl: calc( var(--kendo-icon-size) * 2 );
  --kendo-icon-size-xxxl: calc( var(--kendo-icon-size) * 3 );
  --kendo-icon-stroke-width: 1.5;
  --kendo-icon-rotation: 0deg;
  --kendo-icon-color: currentColor;
}

.k-svg-icon {
  outline: 0;
  line-height: 1;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
}
.k-svg-icon > svg {
  fill: var(--kendo-icon-color);
  transform: rotate(var(--kendo-icon-rotation));
  flex: 1 1 auto;
}
.k-svg-icon > svg [fill=none] {
  stroke: var(--kendo-icon-color);
}
.k-svg-icon.k-svg-icon-outline > svg [fill=none], .k-svg-icon.k-svg-icon-duotone > svg [fill=none] {
  stroke-width: var(--kendo-icon-stroke-width);
}
.k-svg-icon.k-icon-xs {
  width: var(--kendo-icon-size-xs, calc(var(--kendo-icon-size, 16px) * 0.75));
  height: var(--kendo-icon-size-xs, calc(var(--kendo-icon-size, 16px) * 0.75));
}
.k-svg-icon.k-icon-sm {
  width: var(--kendo-icon-size-sm, calc(var(--kendo-icon-size, 16px) * 0.875));
  height: var(--kendo-icon-size-sm, calc(var(--kendo-icon-size, 16px) * 0.875));
}
.k-svg-icon, .k-svg-icon.k-icon-md {
  width: var(--kendo-icon-size-md, var(--kendo-icon-size, 16px));
  height: var(--kendo-icon-size-md, var(--kendo-icon-size, 16px));
}
.k-svg-icon.k-icon-lg {
  width: var(--kendo-icon-size-lg, calc(var(--kendo-icon-size, 16px) * 1.25));
  height: var(--kendo-icon-size-lg, calc(var(--kendo-icon-size, 16px) * 1.25));
}
.k-svg-icon.k-icon-xl {
  width: var(--kendo-icon-size-xl, calc(var(--kendo-icon-size, 16px) * 1.5));
  height: var(--kendo-icon-size-xl, calc(var(--kendo-icon-size, 16px) * 1.5));
}
.k-svg-icon.k-icon-xxl {
  width: var(--kendo-icon-size-xxl, calc(var(--kendo-icon-size, 16px) * 2));
  height: var(--kendo-icon-size-xxl, calc(var(--kendo-icon-size, 16px) * 2));
}
.k-svg-icon.k-icon-xxxl {
  width: var(--kendo-icon-size-xxxl, calc(var(--kendo-icon-size, 16px) * 3));
  height: var(--kendo-icon-size-xxxl, calc(var(--kendo-icon-size, 16px) * 3));
}

.k-flip-h.k-svg-icon,
.k-flip-v.k-svg-icon,
.k-flip-h.k-flip-v.k-svg-icon {
  transform: none;
}

.k-flip-h > svg {
  transform: scaleX(-1);
}

.k-flip-v > svg {
  transform: scaleY(-1);
}

.k-flip-h.k-flip-v > svg,
.k-flip-both > svg {
  transform: scale(-1, -1);
}

.k-rotate-0.k-svg-icon {
  transform: none;
}
.k-rotate-0 {
  --kendo-icon-rotation: 0deg;
}

.k-rotate-45.k-svg-icon {
  transform: none;
}
.k-rotate-45 {
  --kendo-icon-rotation: 45deg;
}

.k-rotate-90.k-svg-icon {
  transform: none;
}
.k-rotate-90 {
  --kendo-icon-rotation: 90deg;
}

.k-rotate-135.k-svg-icon {
  transform: none;
}
.k-rotate-135 {
  --kendo-icon-rotation: 135deg;
}

.k-rotate-180.k-svg-icon {
  transform: none;
}
.k-rotate-180 {
  --kendo-icon-rotation: 180deg;
}

.k-rotate-225.k-svg-icon {
  transform: none;
}
.k-rotate-225 {
  --kendo-icon-rotation: 225deg;
}

.k-rotate-270.k-svg-icon {
  transform: none;
}
.k-rotate-270 {
  --kendo-icon-rotation: 270deg;
}

.k-rotate-315.k-svg-icon {
  transform: none;
}
.k-rotate-315 {
  --kendo-icon-rotation: 315deg;
}

/*# sourceMappingURL=index.css.map */
