@forward "_variables.scss";
@use "_variables.scss" as *;

@mixin kendo-svg-icon-styles() {

    :root {
        --kendo-icon-size: #{$ki-icon-size};
        --kendo-icon-size-xs: calc( var(--kendo-icon-size) * .75 );
        --kendo-icon-size-sm: calc( var(--kendo-icon-size) * .875 );
        --kendo-icon-size-md: var(--kendo-icon-size);
        --kendo-icon-size-lg: calc( var(--kendo-icon-size) * 1.25 );
        --kendo-icon-size-xl: calc( var(--kendo-icon-size) * 1.5 );
        --kendo-icon-size-xxl: calc( var(--kendo-icon-size) * 2 );
        --kendo-icon-size-xxxl: calc( var(--kendo-icon-size) * 3 );
        --kendo-icon-stroke-width: #{$ki-icon-stroke-width};
        --kendo-icon-rotation: 0deg;
        --kendo-icon-color: currentColor;
    }

    .k-svg-icon {
        outline: 0;
        line-height: 1;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        position: relative;

        > svg {
            fill: var(--kendo-icon-color);
            transform: rotate(var(--kendo-icon-rotation));
            flex: 1 1 auto;

            [fill="none"] {
                stroke: var(--kendo-icon-color);
            }
        }

        &.k-svg-icon-outline,
        &.k-svg-icon-duotone {
            > svg [fill="none"] {
                stroke-width: var(--kendo-icon-stroke-width);
            }
        }

        // SVG Icon sizes
        @each $size, $value in $ki-icon-sizes {
            #{if($ki-icon-default-size == $size, "&,", null)}
            &.k-icon-#{$size} {
                width: $value;
                height: $value;
            }
        }
    }

    // Flip
    .k-flip-h,
    .k-flip-v,
    .k-flip-h.k-flip-v {
        &.k-svg-icon {
            transform: none;
        }
    }
    .k-flip-h {
        > svg {
            transform: scaleX( -1 );
        }
    }
    .k-flip-v {
        > svg {
            transform: scaleY( -1 );
        }
    }
    .k-flip-h.k-flip-v,
    .k-flip-both {
        > svg {
            transform: scale( -1, -1 );
        }
    }


    // Rotate
    @each $index, $rotate in $ki-rotate-map {
        .k-rotate-#{$index} {
            &.k-svg-icon {
                transform: none;
            }

            --kendo-icon-rotation: #{$rotate};
        }
    }

}
