name: Run css-seeder-job
on:
  push:
    branches:
      - develop
    paths:
      - src/icons/icons.json

jobs:
  run-css-seeder:
    runs-on: ubuntu-latest
    env:
      KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_PROD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set job name env
        run: echo "JOB_NAME=css-seeder-job-$(date +%s)" >> $GITHUB_ENV

      - name: Create Kubernetes Job
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_PROD }}
        with:
          args: create job $JOB_NAME --image=netcorereplcr.azurecr.io/css-seeder:latest -- icons

      - name: Wait for job to complete
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_PROD }}
        with:
          args: wait --for=condition=complete --timeout=600s job/$JOB_NAME

      - name: Get pod name
        id: get-pod
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_PROD }}
        with:
          args: get pods --selector=job-name=$JOB_NAME -o jsonpath='{.items[0].metadata.name}'

      - name: Show job logs
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_PROD }}
        with:
          args: logs ${{ steps.get-pod.outputs.stdout }}

      - name: Clean up job and pods
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_PROD }}
        with:
          args: delete job $JOB_NAME
