name: Publish to npm

defaults:
  run:
    shell: bash

env:
  CI: true
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

on: [workflow_dispatch]

jobs:
  publish:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout branch
      uses: actions/checkout@v2
      with:
        ref: develop
        token: ${{ secrets.GH_TOKEN }}

    - name: Setup git
      run: |
        git config user.name "kendo-bot"
        git config user.email "kendouiteam@progress.com"

    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'

    - name: Setup node cache
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

    - name: Add token
      run: printf "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc

    - name: Install
      run: npm ci

    - name: Bootstrap
      run: npm run bootstrap

    - name: Prepare packages
      run: |
        npm run prepare-packages

    - name: Lerna publish
      run: |
        npx lerna publish --conventional-commits

    - name: Push to GitHub
      run: |
        git push origin develop --tags --quiet > /dev/null 2>&1
