name: Publish to npm

 on: [workflow_dispatch]


jobs:
  publish:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout branch
      uses: actions/checkout@v2
        token: ${{ secrets.GH_TOKEN }}

    - name: Setup git
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'

    - name: Install
      run: |
        npm install
        npm run bootstrap

    - name: Prepare packages
      run: |
        npm run prepare-packages

    - name: Setup npm
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: printf "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc

    - name: Publish
      run: |
        git config user.name "kendo-bot"
        git config user.email "kendo-bot"
        npx lerna publish --message "chore(release): update changelogs" --conventional-commits --concurrency=1 --loglevel=verbose --yes
        git push
