name: Publish to npm (dev)

defaults:
  run:
    shell: bash

on:
  workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: upload

    permissions:
        id-token: write # Required by Akeyless
        contents: read
        packages: read

    steps:
      - name: Import Secrets
        id: import-secrets
        uses: LanceMcCarthy/akeyless-action@v5
        with:
          access-id: ${{ secrets.GH_AKEYLESS_ACCESS_ID }}
          static-secrets: |
            {
              "/WebComponents/prod/tokens/GH_TOKEN": "GH_TOKEN",
              "/WebComponents/prod/tokens/PROGRESS_NPM_REGISTRY_TOKEN": "NPM_TOKEN"
            }
          export-secrets-to-environment: false

      - name: Check out branch
        uses: actions/checkout@v6
        with:
          ref: develop
          fetch-depth: 0 # Fetch all branches
          token: ${{ steps.import-secrets.outputs.GH_TOKEN }}

      - name: Setup git
        run: |
          git config user.name "kendo-bot"
          git config user.email "kendouiteam@progress.com"

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'
        env:
          NODE_AUTH_TOKEN: ${{ steps.import-secrets.outputs.NPM_TOKEN }}

      - name: Install
        run: |
          npm ci

      - name: Lerna publish
        run: npx lerna publish --conventional-commits --conventional-prerelease --create-release github --preid dev --dist-tag dev --allow-branch develop --force-publish --exact --yes
        env:
          GH_TOKEN: ${{ steps.import-secrets.outputs.GH_TOKEN }}
